# Expo
.expo/
dist/
web-build/
.expo-shared/

# Node
node_modules/
npm-debug.*
yarn-debug.*

# Native
*.jks
*.p8
*.p12
*.key

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.env
.env.local

# Builds
*.apk
*.aab
*.ipa

# IDE
.vscode/
.idea/
